

.form-group .error-text{
	color: #ca3434;
	visibility: hidden;
}

.form-group.form-error input{
	border-bottom: 2px solid red;

}

.form-group.form-error .error-text{
	visibility: visible;

}
.form-group.form-success input{
	border-bottom: 2px solid #04F908;
	
}