*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

/*Estilo del body*/

body{
	background: url(../image/xxx.jpg);
	background-attachment: fixed; 
        background-repeat: no-repeat;
		background-size: cover; 
		background-position: left;
}

.titulo{
    font-size: 40px; 
    position: relative;
    font-family: helvetica;
    color: #000000;
    text-align: center;
    left: 30%;
}

.conteFormu{
	width: 50%;
	height:auto;
	position: relative;
	left: 32%;
	margin-top: 80px;

}
.form{
    font-family: helvetica;
    font-size: 30px;
    color: #FFFFFF;
    align-items: center;
}

.inicioFormu{
	width: 600px;
	height: 450px;
	position: relative;
	border-radius: 1px;
	background: rgba(30, 15, 25 , 0.9);
}

.cajatxt{
	width: 550px;
	height: 45px;
	outline: #000000;
	border:1px;
        border-radius: 10px;
	background: #DDDDDD;
	text-align: center;
	font-size: 22px;
}

.btnEntrar{
	background: yellow;
	border-radius: 10px;
	text-decoration: none;
	display:inline-block;
	padding:7px 15px;
	font-size:22px;
	-webkit-transition:all 900ms ease;
	-o-transition:all 900ms ease;
	transition:all 900ms ease;
        width: 200px;
	height: 45px;
        margin-top: 25px;
}
.btnEntrar:hover{
	color: #000000;
	background:#44CC00;
	border-radius:10px;
}

.pie{
	font-size: 12px;
	color: white;
        text-align: left;
        background: rgba(30, 15, 25 , 0.7);
        height: 22px;
        margin-top:12%;
        margin-right: 0;
        align-content: space-between;
}

