*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor:rbg(52,52,52);
    --hovercolor:rbg(23,23,23);
    --width-collapsed:50px; 
}
body{
    background: url(../image/tractorverde.jpg);
    background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed); 
}

.body-expanded{
    margin-left: var(--width);
}

#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a{
    color: white;
    text-decoration: none;

}

/*Header*/

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title,#sidemenu #header #menu-btn{
    vertical-align: middle;
}
#sidemenu #header #menu-btn{
    display: inline-block;
}

#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/*Profile*/

#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align:center;
}

#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 60%;
}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}

/*item*/

#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width: var(--width);
}

#sidemenu #menu-items .item .icon{
    display: inline-block;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a{
    display: block;
}

#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img{
    width: 100%;
}

#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separador{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    
}

.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}

.menu-collapsed{
    width: var(--width-collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;
}

.menu-collapsed .item{
    width: 100px
}

/*titulo de menu admin*/

.conteCatalogo{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.conteCatalogo h1{
    color: #494B4D;
    font-size: 40px;
    font-weight:bold;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
}

.conteCatalogo h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #0C548C;
    margin: 15px 0;
}


.menuAdmin{
    width: 80%;
    height: 400px;
   
    position: relative;
    left: 10%;

}


.btnActivo{
    width: 50%;
    height: 100px;
    position: absolute;
    background: rgba(165, 167, 167  , .6);
}

.btnRenta{
     width: 50%;
    height: 100px;
    margin-top: 150px;
    position: absolute;
    
    
    background: rgba(165, 167, 167 , .6);
}

.btnMonitoreo{
    width: 50%;
    height: 100px;
    position: absolute;
   
    
    left: 50%;
    background: rgba(165, 167, 167  , .6);
}


.imgA{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;

}
.imgR{
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;

}

.imgM{
     width: 90px;
    height: 90px;
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;

}



.titleA{
     font-size: 35px;
    font-family: helvetica;
    position: absolute;
    left: 22%;
    margin-top: 35px;
}

.titleR{
     font-size: 35px;
    font-family: helvetica;
    position: absolute;
    left: 22%;
    margin-top: 35px;
}

.titleM{
     font-size: 35px;
    font-family: helvetica;
    position: absolute;
    left: 22%;
    margin-top: 35px;
}

.pie{
    font-size: 12px;
    color: white;
        text-align: left;
        background: rgba(30, 15, 25 , 0.7);
        height: 22px;
        margin-top:12%;
        margin-right: 0;
        align-content: space-between;
}